__pycache__
chroma
chroma_created_folder
chroma_langchain_medinfo_db
Data_files/Earnings.csv
Data_files/plugin-redoc-0.yaml
Data_files/titanic_space.csv
location
Model
constants.yaml
chromadb_check_1.ipynb
first_notebook.ipynb
forth_notebook_chroma.ipynb
llm_llama_1.ipynb
Proccess.txt
req_chromadb.txt
second_notebook.ipynb
third_notebook.ipynb
weaviate_check.ipynb
weaviate_retrieve_mistral.ipynb
weaviate_retrieve.ipynb